*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: arial;
  line-height: 1.6;
}

a{
  color:#fff;
  text-decoration: none;
}
.container{
	padding: 0.5rem 1rem;
	margin:auto;
	max-width: 760px;
}

.subbtn {
  flex: 2;
  padding: 0.5rem;
  margin: 0.5rem 0;
  background-color: #235fae;
  border: none;
  color: #fff;
}
.subbtn:hover{
  background: #235f8a;
}